.fav-title{
    padding: 30px 0 0 0;
}

.empty-message{
    font-size: 34px;
    text-align: center;
    font-weight: 500;
}

.fav-tooltip{
    font-size: 10px!important;
    background-color: rgb(238, 76, 70)!important;
    color: rgb(255, 255, 255)!important;
    opacity: 1 !important;
    font-weight: 500!important;
}

.card-fade-out {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.4s ease, transform 0.3s ease;
  }